export CODE_DIR=~/Projects
export GIT_NAME="James Gray"
export GIT_PERSONAL_EMAIL=""
export GIT_WORK_EMAIL=""
export GMAIL_ROOTS_PATH=""
export MSMTP_EMAIL=""
export MSMTP_PASSWORD=""
export MSMTP_TLS_FINGERPRINT=""
export MY_EMAIL=""
export SCREENSHOT_DIR="$HOME/Dropbox/Media/images/screenshots"
export WALLPAPER_DIR="$HOME/Dropbox/Media/images/wallpapers"
export WEBCAM_DIR="$HOME/Dropbox/Media/images/webcam"
export WORK_COMPANY_NAME=""
