export CODE_DIR=~/Projects
export GIT_NAME="James Gray"
export GIT_PERSONAL_EMAIL=""
export GIT_WORK_EMAIL=""
export GMAIL_ROOTS_PATH=""
export MSMTP_EMAIL=""
export MSMTP_PASSWORD=""
export SCREENSHOTS_DIR=""
export WEBCAM_DIR=""
