"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "github"
    ]
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    fontSize: 20
  "exception-reporting":
    userId: "b674d180-ee8a-4766-9d2c-640123c4c1cf"
  "linter-terraform-syntax":
    newVersion: true
  "markdown-preview": {}
  "one-dark-ui":
    fontSize: 14
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
