"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "github"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 25
  "exception-reporting":
    userId: "b674d180-ee8a-4766-9d2c-640123c4c1cf"
  "linter-terraform-syntax":
    newVersion: true
  "markdown-preview":
    breakOnSingleNewline: true
  "one-dark-ui":
    fontSize: 14
  welcome:
    showOnStartup: false
